
/__pycache__
/Datasets
/Ticker
/eldoradoCharts
Desktop.ini
*.pdf
*.log
*.csv
.~lock*
API_KEY.txt
yfinance_cache/
/app/components/__pycache__
/stocks/__pycache__
/stocks/backtests/__pycache__
/stocks/data/__pycache__
/stocks/utils/__pycache__
